footer {
  z-index: 1;
  height: 95px;
  background-image: linear-gradient(0deg, #060814, #2d3b91, #97a1db);
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container p {
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 3px 3px 6px black, 0 0 1em red;
}

.social i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #9c2a96;
  margin-right: 10px;
  cursor: pointer;
  transition: all 600ms ease;
  color: #333;
  text-shadow: 3px 3px 6px black;
  opacity: 0.8;
}

.social i.bird {
  color: white;
}

.social i.tube {
  color: red;
}

.social i.vk {
  color: blue;
}

.social i.telegram {
  color: #00ffd0;
}

.social i:hover {
  opacity: 1;
  transition: all 600ms ease;
  transform: translateY(-7px);
}
